.App {
}

button {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s linear;
  border: 1px solid lightgray;
}

button:active {
  color: white;
  background-color: rgb(80, 80, 80);
}
